[submodule "automatic_document_managment/plugins/orange-box-plugin/cozy-konnector-orange"]
	path = automatic-document-managment/plugins/orange-box-plugin/cozy-konnector-orange
	url = https://github.com/xaviermichel/cozy-konnector-orange.git
