*.class

# Package Files #
*.jar
*.war
*.ear
node
node_modules
build
bower_inc

# eclipse
.project
.settings
.classpath

# idea
.idea
*.iml

# maven
target
.factorypath

# others
*.swp
*.tmp

# logs
*.log
*.log.zip
