<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>SOURCE_NAME=Mes%20documents
SOURCE_DIR=D:\\data\\docs\\Documents
SOURCE_CATEGORY=Documents

curl &quot;${EDM_HOST}/crawl/filesystem?path=${SOURCE_DIR}&amp;sourceName=${SOURCE_NAME}&amp;categoryName=${SOURCE_CATEGORY}&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>