#edm-treeview .k-sprite {
	vertical-align: middle;
	background-image: url("/resources/images/coloricons-sprite.png");
}

.rootfolder {
	background-position: 0 0;
}

.k-sprite.folder {
	background-position: 0 -16px;
}

.pdf {
	background-position: 0 -32px;
}

.html {
	background-position: 0 -48px;
}

.image {
	background-position: 0 -64px;
}

.word {
	background-position: 0 -80px;
}

.excel {
	background-position: 0 -96px;
}

.power-point {
	background-position: 0 -112px;
}

.text {
	background-position: 0 -128px;
}

.unknown {
	background-position: 0 -144px;
}


/* override kendo style (blue theme override orange color) */
.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list>.k-state-selected, .k-list>.k-state-highlight, .k-panel>.k-state-selected, .k-button:active, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-marquee-color {
	background-color : #428bca;
}
.k-state-focused.k-state-selected, .k-list>.k-state-focused.k-state-selected, .k-listview>.k-state-focused.k-state-selected, td.k-state-focused.k-state-selected, .k-button:focus:active:not(.k-state-disabled):not([disabled]) {
	box-shadow : inset 0 0 3px 4px #428bca;
}
/* /override kendo style */
