<h4 class="filter-title">
  <mat-icon [color]="'primary'" aria-hidden="true">{{ blockIconName }}</mat-icon>
  <span class="filter-title-text">{{ blockTitle }}</span>
</h4>
<hr/>

<span *ngFor="let aggregate of filterAggregate.aggregates">
  <mat-checkbox *ngIf="aggregate.pdsAggregationItem" [(ngModel)]="aggregate.pdsAggregationItem.checked" (change)="onSelectionChange()">
    <span class="tag-key">{{ aggregate.key }}</span>
    <span class="chips-count">{{ aggregate.docCount }}</span>
  </mat-checkbox>
  <br/>
</span>
