.icone-sprite {
	background-image: url("/resources/images/coloricons-sprite.png");
	background-repeat: no-repeat;
	height:16px;
	width:16px;
	float:right;
}

.icone-sprite.folder {
	background-position: 0 -16px;
}

.icone-sprite.pdf {
	background-position: 0 -32px;
}

.icone-sprite.html {
	background-position: 0 -48px;
}

.icone-sprite.image {
	background-position: 0 -64px;
}

.icone-sprite.word {
	background-position: 0 -80px;
}

.icone-sprite.excel {
	background-position: 0 -96px;
}

.icone-sprite.power-point {
	background-position: 0 -112px;
}

.icone-sprite.text {
	background-position: 0 -128px;
}

.icone-sprite.unknown {
	background-position: 0 -144px;
}
