.pds-search-form {
  min-width: 650px;
  max-width: 800px;
  width: 100%;
}

.field-input-pattern {
  width: 70%;
}

.text-muted {
  color: rgba(0,0,0,.54);
  font-size: 13px;
}

.pull-right {
  text-align: right;
}

.text-search-info {
  text-align: right;
  margin-bottom: 10px;
}

mat-card {
  margin-bottom: 10px;
}

.doc-link {
  color: #3f51b5;
}

.form-margin-top {
  margin-top: 5px;
}

.left-col-margin-bottom {
  margin-bottom: 2cm;
}

.left-col-padded-left {
  padding-left: 2cm;
}

.left-col-padded-right {
  padding-right: 1.4cm;
}

.right-col-padded-right {
  padding-right: 2cm;
}

.icone-sprite {
  background-image: url("/assets/coloricons-sprite.png");
  background-repeat: no-repeat;
  height:16px;
  width:16px;
  float:right;
}

.icone-sprite.folder {
  background-position: 0 -16px;
}

.icone-sprite.pdf {
  background-position: 0 -32px;
}

.icone-sprite.html {
  background-position: 0 -48px;
}

.icone-sprite.image {
  background-position: 0 -64px;
}

.icone-sprite.word {
  background-position: 0 -80px;
}

.icone-sprite.excel {
  background-position: 0 -96px;
}

.icone-sprite.power-point {
  background-position: 0 -112px;
}

.icone-sprite.text {
  background-position: 0 -128px;
}

.icone-sprite.unknown {
  background-position: 0 -144px;
}
