<h4 class="filter-title">
  <mat-icon [color]="'primary'" aria-hidden="true">folder</mat-icon>
  <span class="filter-title-text">Catégories</span>
</h4>
<hr/>

<span *ngFor="let aggregate of filterCategory.aggregates">
  <mat-checkbox *ngIf="aggregate.pdsAggregationItem" [(ngModel)]="aggregate.pdsAggregationItem.checked" (change)="categorySelectionUpdated()">
    <span class="custom-chips" [style.background-color]="aggregate.pdsAggregationItem.checked ? aggregate.category.backgroundColor : '#EEEEEE'" [style.color]="aggregate.pdsAggregationItem.checked ? aggregate.category.color : '#000'" >
      {{ aggregate.docCount }}
    </span>
    &nbsp;
    {{ aggregate.category.name }}
  </mat-checkbox>
  <br/>
</span>
