<html ng-app="edmApp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title th:text="${APPLICATION_NAME}">Simple EDM</title>

    <!-- Scripts -->
    <script src="/resources/bower_inc/jquery/jquery.min.js"></script>
    <script src="/resources/bower_inc/angular/angular.min.js"></script>
    <script src="/resources/bower_inc/angular-route/angular-route.min.js"></script>
    <script src="/resources/bower_inc/angular-resource/angular-resource.min.js"></script>
    <script src="/resources/bower_inc/angular-animate/angular-animate.min.js"></script>
    <script src="/resources/bower_inc/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/resources/bower_inc/moment/min/moment.min.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="/resources/bower_inc/bootstrap/dist/css/bootstrap.min.css" />

    <span th:unless="${APPLICATION_ENV} == 'DEV'" th:remove="tag">
	<!-- Production resources -->
	<link rel="stylesheet" href="/resources/build/css/production.min.css" />

	<script th:unless="${debug}" src="/resources/build/js/production.min.js"></script>
	<script th:if="${debug}"  src="/resources/build/js/production.js"></script>
</span>
    <span th:if="${APPLICATION_ENV} == 'DEV'" th:remove="tag">
	<link rel="stylesheet" href="/resources/css/style.css"/>
	<link rel="stylesheet" href="/resources/css/icons-sprite.css"/>

	<script src="/resources/js/application.js"></script>
	<script src="/resources/js/controllers.document.js"></script>
	<script src="/resources/js/services.js"></script>
</span>

</head>

<body>

    <div class="container">

        <div class="header">
            <ul class="nav nav-pills pull-right">
                <li th:class="${section_document}? 'active'"><a href="/">Documents</a></li>
                <li th:class="${section_about}? 'active'"><a href="https://github.com/xaviermichel/simple-data-search" target="_blank">A propos</a></li>
            </ul>
            <a href="/">
                <h3 class="text-muted" th:text="${APPLICATION_NAME}">Simple EDM</h3>
            </a>
        </div>

        <ng-include src="'resources/views/notifications.html'"></ng-include>

        <div ng-view="document-search-result">
        </div>

    </div>
    <!-- /container -->

</body>

</html>