<html ng-app="edmApp">

<head th:with="dotMin=(${minified} ? '.min' : '') , min=(${minified} ? 'min' : '')">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title th:text="${app_name}">Simple EDM</title>

    <!-- Scripts -->
    <script th:src="@{'/resources/bower_inc/jquery/dist/jquery' + ${dotMin} + '.js'}"></script>
    <script th:src="@{'/resources/bower_inc/angular/angular' + ${dotMin} + '.js'}"></script>
    <script th:src="@{'/resources/bower_inc/angular-route/angular-route' + ${dotMin} + '.js'}"></script>
    <script th:src="@{'/resources/bower_inc/angular-resource/angular-resource' + ${dotMin} + '.js'}"></script>
    <script th:src="@{'/resources/bower_inc/angular-animate/angular-animate' + ${dotMin} + '.js'}"></script>
    <script th:src="@{'/resources/bower_inc/bootstrap/dist/js/bootstrap' + ${dotMin} + '.js'}"></script>
    <script th:src="@{'/resources/bower_inc/moment/' + ${min} + '/moment' + ${dotMin} + '.js'}"></script>
    <script th:src="@{'/resources/bower_inc/moment/locale/fr.js'}"></script>
    <script th:src="@{'/resources/bower_inc/bootstrap-material-design/dist/js/ripples' + ${dotMin} + '.js'}"></script>
    <script th:src="@{'/resources/bower_inc/bootstrap-material-design/dist/js/material' + ${dotMin} + '.js'}"></script>

    <!-- Styles -->
    <link rel="stylesheet" th:href="@{'/resources/bower_inc/bootstrap/dist/css/bootstrap' + ${dotMin} + '.css'}" />
    <link rel="stylesheet" th:href="@{'/resources/bower_inc/bootstrap-material-design/dist/css/roboto' + ${dotMin} + '.css'}" />
    <link rel="stylesheet" th:href="@{'/resources/bower_inc/bootstrap-material-design/dist/css/material' + ${dotMin} + '.css'}" />
    <link rel="stylesheet" th:href="@{'/resources/bower_inc/bootstrap-material-design/dist/css/ripples' + ${dotMin} + '.css'}" />

    <!-- Production resources -->
    <span th:if="${concated}" th:remove="tag">
		<link rel="stylesheet" th:href="@{'/resources/build/css/production' + ${dotMin} + '.css'}" />
		<script th:src="@{'/resources/build/js/production' + ${dotMin} + '.js'}"></script>
    </span>

    <!-- Development resources -->
    <span th:unless="${concated}" th:remove="tag">
		<link rel="stylesheet" href="/resources/css/style.css"/>
		<link rel="stylesheet" href="/resources/css/icons-sprite.css"/>
	
		<script src="/resources/js/application.js"></script>
		<script src="/resources/js/controllers.document.js"></script>
		<script src="/resources/js/services.js"></script>
    </span>

</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand spec-title" href="/" ng-href="#/" th:text="${app_name}">Simple EDM</a>
            </div>

            <div class="nav navbar-nav navbar-right">
                <a class="btn btn-default" href="https://github.com/xaviermichel/paperless-documents-search" target="_blank" style="padding:5px 0px;">
                    <img src="/resources/images/github.png" alt="A propos" class="img-circle" />
                </a>
            </div>
        </div>
    </nav>

    <br/>
    <br/>
    <br/>

    <div class="container">

        <ng-include src="'resources/views/notifications.html'"></ng-include>

        <div ng-view="document-search-result">
        </div>

    </div>
    <!-- /container -->

    <script>
        $(document).ready(function() {
            // initialize material design
            $.material.init();
        });
    </script>

</body>

</html>